.wrapper {
    box-sizing border-box
    max-width 1650px
    min-width 420px
    margin auto
    padding 0px 20px
}

.header {
    &__title {
        text-align center
    }
}

.preview {
    display flex
    align-items stretch
    &__editor {
        flex-basis 60%
        & .CodeMirror {
            height 100%
            min-height 300px
            font-size 16px
        }
    }
    &__svg {
        flex-basis 40%
        max-width 500px
        & svg {
            display block
        }
    }
    &__color-helper {
        position relative
        flex 0 0 40px
        background linear-gradient(to top, white, black)
        &:before,
        &:after {
            position absolute
            padding 4px
            left 0
            right 0
            text-align center
        }
        &:before {
            content '100'
            top 0
            color white
        }
        &:after {
            content '0'
            bottom 0
            color black
        }
    }
}

.message {
    padding 10px
    margin 10px 0px
    font-size 18px
    background-color palegreen
    &_error {
        background-color tomato
    }
}

.compiler-code {
    display flex
    flex-wrap wrap
    background-color #eeeeee
    padding-bottom 2px
    &__item {
        width 25%
        &-title {
            padding 6px
            font-weight 700
        }
        &-editor {
            & .CodeMirror {
                height 240px
            }
        }
        @media (max-width 960px) {
            & {
                width 50%
            }
        }
        @media (max-width 680px) {
            & {
                width 100%
            }
        }
    }
}
