body {
  background-color navajowhite
  font-family sans-serif
}

.add-note {
  background-color: #fdfdfd;
  border: 1px solid #ccc;
  box-sizing border-box
  width 200px
  height 100px
  font-size 90px
  line-height 90px
}

.notes {
  padding-left: 0;
  width 200px
  list-style: none;
}

.note {
  margin-bottom: 0.5em;
  padding: 0.5em;
  background-color: #fdfdfd;
  box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.3);
}
.note:hover {
  box-shadow: 0 0 0.3em 0.03em rgba(0, 0, 0, 0.7);
  transition: 0.6s;
}

.note .task {
  display: inline-block;
}

.note input {
  display block
  width 100%
}

.note .delete {
  float: right;
  padding: 0;

  background-color: #fdfdfd;
  border: none;
  cursor: pointer;
  visibility: hidden;
}
.note:hover .delete {
  visibility: visible;
}
